<div class="lesson-overview-background">
	<div class="container privacy">
		<div class="span6 offset3" >
			<h2>StartupHack Privacy Policies</h2>

			<h4>I.	Scope</h4>
			This privacy policy applies to all information, including personal information provided by the user, collected by StartupHack.
			<h4>II.	Information Collected by StartupHack</h4>
			StartupHack collects the following information from its users:
			<ul>
			<li>Voluntarily Provided Information</li>
				<ul>
					<li>Email addresses, as provided voluntarily by the user</li>
					<li>StartupHack provides a login process that creates a log and timestamp for the relevant site visit</li>
				</ul>
			<li>Automatically Collected Information</li>
				<ul>
					<li>Internet Protocol (IP) routing information, such as the IP address</li>
					<li>StartupHack employs cookies, through Google Analytics, to anonymously track and aggregate visitor data.  StartupHack engages in this kind of tracking to improve the user experience.</li>
				</ul>
			</ul>
			<h4>III.	How StartupHack Uses the Information</h4>
				StartupHack uses the information for the following purposes:
				<ul>
					<li>To send users weekly reminders when a new StartupHack lesson becomes available for viewing</li>
					<li>To send users newsletters with special announcements, such as an online class or a presentation by a StartupHack Curator</li>
				</ul>
			<h4>IV.	Information Sharing and Disclosure</h4>
			<p>StartupHack does not generally share information with third party marketers without the explicit consent of the user.</p>

			StartupHack may need to share user information in the following circumstances:
			<ul>
				<li>To protect and defend the rights and property of StartupHack</li>
				<li>If required by law and/or public authorities </li>
			</ul>
			<h4>V.	Opt Out</h4>
			The user can choose to opt out of these emails by emailing us at hello@startuphack.it.

			<h4>VI.	Third Party Sites</h4>
			<p>StartupHack provides some information to Google by use of Google Analytics. As a result, you agree to allow StartupHack to send information collected for coalation and analysis by Google Analytics to Google.</p>
			<p>
			However, StartupHack will utilize reasonable measures to ensure that this information is sent to Google with identifying information removed.
			</p>
			<h4>VII.	Personally Identifiable Information Contained in User Content</h4>
			<p>
			StartupHack will not log any information identifying the users beyond the information necessary to the services offered by StartupHack.  The logged information includes, but is not limited to, user names and IP addresses.</p>

			<p>StartupHack is not responsible for any personally identifiable information included incidentally by the user as of the services provided by StartupHack, such as (but not limited to) personally identifiable information included in the email addresses provided to StartupHack by the user.
			</p>
			<h4>VIII.	Changes in Privacy Policy</h4>
			<p>
			We may amend this Privacy Policy at any time by posting the most recent version of the Policy on the Site, along with an indication of the date on which the Policy was amended most recently. If we make any material changes in the way we collect, use, and/or share personally identifiable information that we collect about you through the Site, we will notify you by sending you an email at the last email address that you provided us and/or by prominently posting notice of the changes on the Site. In any event, changes to this Privacy Policy may affect our use of personally identifiable information that you provided us prior to our notification to you of the changes.
			</p>
			<h4>IX.	Contact Us</h4>
			If you have questions or wish to send us comments about this Privacy Policy, please write us at: hello@startuphack.it.
			<br />
			<br />

			<h2>StartupHack Terms and Conditions</h2>
			<p>
				THESE TERMS REPRESENT A LEGALLY BINDING AGREEMENT BETWEEN YOU AND STARTUPHACK governing your use of StartupHack’s services.
			<p>
			<h4>Use of StartupHack</h4>			StartupHack grants you a terminable at-will, nonexclusive license to download materials through the services for your personal, non-commercial use only.   You may not transfer, assign, sublicense, lend, or resell the rights granted under this license. Any use in violation of these limits shall constitute a violation of the terms of this license. Absolutely no framing of our site is permitted.  
			<h4>Copyright and Trademark Issues</h4>
			<p>
				StartupHack complies fully with the Digital Millennium Copyright Act (DMCA) and will respond expeditiously to any claims.  StartupHack will promptly process and investigate notices of alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act and other applicable intellectual property laws, up to and including blocking or removing the offending content. StartupHack will terminate access for subscribers and account holders who are repeat infringers. Please direct any notices of claimed copyright infringement to hello@startuphack.it.
			</p>
			<p>
				The Service is the personal property of StartupHack. StartupHack retains the right to bar any individual or entity from the Service. Accessing the Service after being barred shall constitute an act of trespass. The Service and all materials published therein, including but not limited to articles, graphical images, interactive applications, audio clips, and video clips (collectively, the "Content"), are protected by copyright and are owned by StartupHack or its licensors. You may not modify the Content or republish, retransmit, or otherwise distribute directly or via links any Content to any third person except for your personal, noncommercial use, as permitted by the license granted above. It is understood that some of the content appearing on the site is news and as such releases are not obtained from individuals or entities for the use of the name, likeness, or trademarks. It is your sole obligation to a) determine if your uses require releases or permission, and b) to obtain the necessary releases. StartupHack, StartupHack.com, and their respective logos are trademarks of StartupHack. All other trademarks on the Service are the property of their respective holders.
			<p>
			<h4>Disclaimer of Warranties</h4>
			<p>
				THE STARTUPHACK SERVICES AND SITE, AND ALL MATERIALS, INFORMATION, PRODUCTS AND SERVICES INCLUDED IN THE STARTUPHACK SERVICES AND SITE ARE PROVIDED "AS IS," WITH NO WARRANTIES WHATSOEVER, EITHER EXPRESS OR IMPLIED. STARTUPHACK AND ITS LICENSORS EXPRESSLY DISCLAIM TO THE FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED, AND STATUTORY WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS. STARTUPHACK AND ITS LICENSORS DISCLAIM ANY WARRANTIES REGARDING THE SECURITY, RELIABILITY, TIMELINESS, AND PERFORMANCE OF THE STARTUPHACK SERVICES. STARTUPHACK AND ITS LICENSORS DISCLAIM, ANY WARRANTIES FOR ANY INFORMATION OR ADVICE OBTAINED THROUGH THE STARTUPHACK SERVICES. STARTUPHACK AND ITS LICENSORS DISCLAIM ANY WARRANTIES FOR SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE STARTUPHACK SERVICES OR SITE OR RECEIVED THROUGH ANY LINKS PROVIDED BY STARTUPHACK.
			</p>
			<p>
				YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN MATERIAL OR DATA THROUGH THE USE OF THE STARTUPHACK SERVICES OR SITE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA.
				SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE AND JURISDICTION TO JURISDICTION.
			<p>
			<h4>Limitation of Liability</h4>
			<p>
				UNDER NO CIRCUMSTANCES SHALL STARTUPHACK OR ITS LICENSORS BE LIABLE TO ANY USER ON ACCOUNT OF THAT USER'S USE OR MISUSE OF OR RELIANCE ON THE STARTUPHACK SERVICES OR SITE, ARISING FROM ANY CLAIM RELATING TO THESE TERMS OF SERVICE OR THE SUBJECT MATTER HEREOF. SUCH LIMITATION OF LIABILITY SHALL APPLY TO PREVENT RECOVERY OF DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND PUNITIVE DAMAGES WHETHER SUCH CLAIM IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), INDEMNITY, OR OTHERWISE, EVEN IF STARTUPHACK OR ITS LICENSORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. SUCH LIMITATION OF LIABILITY SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND RELIANCE ON THE STARTUPHACK SERVICES OR SITE, FROM RELIANCE OR DAMAGE CAUSED BY INFORMATION POSTED ON THE STARTUPHACK SITE, FROM INABILITY TO USE THE STARTUPHACK SERVICES OR SITE, OR FROM THE INTERRUPTION, SUSPENSION, OR TERMINATION OF THE STARTUPHACK SERVICES OR SITE (INCLUDING SUCH DAMAGES INCURRED BY THIRD PARTIES). THIS LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE STARTUPHACK SERVICES OR SITE OR RECEIVED THROUGH ANY LINKS PROVIDED IN THE STARTUPHACK SERVICES OR SITE. THIS LIMITATION SHALL ALSO APPLY, WITHOUT LIMITATION, TO THE COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, OR LOST DATA. SUCH LIMITATION SHALL FURTHER APPLY WITH RESPECT TO THE PERFORMANCE OR NON-PERFORMANCE OF THE STARTUPHACK SERVICES OR SITE OR ANY INFORMATION OR MERCHANDISE THAT APPEARS ON, OR IS LINKED OR RELATED IN ANY WAY TO, THE STARTUPHACK SERVICES. SUCH LIMITATION SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW.
			</p>
			<p>
				SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
			</p>
			<p>
				Without limiting the foregoing, under no circumstances shall StartupHack or its licensors be held liable for any delay or failure in performance resulting directly or indirectly from acts of nature, forces, or causes beyond its reasonable control, including, without limitation, Internet failures, computer equipment failures, telecommunication equipment failures, other equipment failures, electrical power failures, strikes, labor disputes, riots, insurrections, civil disturbances, shortages of labor or materials, fires, floods, storms, explosions, acts of God, war, governmental actions, orders of domestic or foreign courts or tribunals, non-performance of third parties, or loss of or fluctuations in heat, light, or air conditioning.
			</p>
			<h4>Policy Updates</h4>
			<p>
				StartupHack reserves the right to update the Terms and Conditions at any time.  Use of the site and its services constitutes agreement to the new Terms and Conditions.  StartupHack will provide notice for major revisions of the Terms and Conditions and Privacy Policy.
			</p>
			<h4>Miscellaneous</h4>
			<p>
				Any failure on the part of StartupHack to enforce a section of this agreement or other agreements on the site (such as the Privacy Policy) shall not constitute waiver on StartupHack’s part.
			</p>
			<p>
				Should any part of this Agreement be rendered or declared invalid by a court of competent jurisdiction, such invalidation of such part or portion of this Agreement shall not invalidate the remaining portions thereof, and they shall remain in full force and effect.
			</p>
			<p>
				Any notice should be sent to hello@startuphack.it.
				This Agreement shall be governed by the laws of Delaware, as applied to contract law and contract disputes and regardless of conflict of laws issues.
			</p>	
			
			<p>
				This Agreement, in combination with the Privacy Policy, represents the entire agreement between you and StartupHack.
			</p>

		</div>
	</div>
</div>