  <h1>Create a new Lesson</h1>

<%= simple_form_for @lesson, :url => {:action => 'create'}, :method => 'post', :html => {:class => 'form-horizontal' } do |f| %>

  <%= render(:partial => 'lesson_form', :locals => {:f => f}) %>

  <%= f.button :submit, class: "btn btn-primary", value: "Create Lesson" %>
<% end %>
