// partial containing styles specific to the lessons detail view

.lesson_block {
	background: #87c662; /* Old browsers */
	background: -moz-linear-gradient(top,  #87c662 0%, #6ab83a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87c662), color-stop(100%,#6ab83a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #87c662 0%,#6ab83a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #87c662 0%,#6ab83a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #87c662 0%,#6ab83a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #87c662 0%,#6ab83a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87c662', endColorstr='#6ab83a',GradientType=0 ); /* IE6-9 */
	height: 130px;
	margin: 18px 0;
	width: 435px;
	
	&:first-child {
		margin-top: 100px;
	}

	h1 {
		float: left;
		padding: 40px;
	}

	h2 {
		margin-bottom: 3px;
		padding-top: 25px;
	}

	hr { //currently broken
		display: none;
		transform: rotate(90deg);
	}
}

.lesson_summary {
	margin: 90px;

	h1 {
		margin-bottom: 25px;
	}
}