/* type-related style rules and licenses */

// color variables
$bold-color: rgba(104, 192, 61, 1.0000); //green

// common elements
a {
	color: inherit;
	text-decoration: none;
}


// type styling
html {
	font-size: 16px;
	font-style: Arial, sans-serif;
}

body {
    font-size: 62.5%; /* 1em = 10px */
	color: rgba(236, 237, 238, 1.0000);
}

.main-message{
	color: $bold-color
}

h1 {
	family: 'Museo-700';
}

@face {family: 'Museo-700';src:font-url('../fonts/27D743_0_0.eot');src:font-url('../fonts/27D743_0_0.eot?#iefix') format('embedded-opentype'),font-url('../fonts/27D743_0_0.woff') format('woff'),font-url('../fonts/27D743_0_0.ttf') format('truetype');}
 
  
@face {family: 'Museo-300';src:font-url('../fonts/27D743_1_0.eot');src:font-url('../fonts/27D743_1_0.eot?#iefix') format('embedded-opentype'),font-url('../fonts/27D743_1_0.woff') format('woff'),font-url('../fonts/27D743_1_0.ttf') format('truetype');}
 
  
@face {family: 'Museo-500';src:font-url('../fonts/27D743_2_0.eot');src:font-url('../fonts/27D743_2_0.eot?#iefix') format('embedded-opentype'),font-url('../fonts/27D743_2_0.woff') format('woff'),font-url('../fonts/27D743_2_0.ttf') format('truetype');}


/* @license
 * MyFonts Webfont Build ID 2611011, 2013-07-27T11:50:15-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the urls below.
 * 
 * Webfont: Museo 700 by exljbris
 * url: http://www.myfonts.com/fonts/exljbris/700/
 * 
 * Webfont: Museo 300 by exljbris
 * url: http://www.myfonts.com/fonts/exljbris/300/
 * 
 * Webfont: Museo 500 by exljbris
 * url: http://www.myfonts.com/fonts/exljbris/500/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2611011
 * Licensed pageviews: Unlimited
 * Webfonts copyright: Copyright (c) 2008 by Jos Buivenga/exljbris. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/
  
