/* type-related style rules and licenses */

// Variables
	// Colors
	$bold-color: rgba(236, 237, 238, 1.0000); //off-white
	$name-color: #00AA55; //green
	$light-text: rgba(255, 255, 255, 1.0000); //white
	$dark-color: rgba(0, 0, 0, .8); //gray

	// Font Variables
	$subhead-font: 'Substance-Medium-DEMO', 'Helvetica', sans-serif;
	$body-font: 'Substance-Medium-DEMO', 'Helvetica', sans-serif;
	$special-light: 'Museo-300', sans-serif;
	$special-medium: 'Museo-500', sans-serif;
	$special-heavy: 'Museo-700', sans-serif;


// common elements
a {
	color: inherit;
	text-decoration: none;
}


// base type settings
html {
	font-size: 16px;
	font-style: $body-font
}

body {
    font-size: 62.5%; /* 1em = 10px */
	color: $light-text;
}


.logo{
	font-family: $special-medium;
	font-size: 2.8em;
	font-weight: normal;

	&:hover {
		color: $light-text;
		text-decoration: none;
	}
}

.navbar .nav li a { // this is incredibly specific in order to override the ridiculous bootstrap selector
	color: inherit;
	font-size: 1.2em;
	font-weight: lighter;
	letter-spacing: .18em;
	text-shadow: 0 0 0 #000000;
	text-transform: uppercase;

	&:hover {
		color: inherit;
	}
}


// Subscriber Specific
.main-message {
	color: $bold-color;
	font-family: $special-light;
	font-size: 5em;
	font-weight: lighter;
	line-height: 1.1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.marketing-message {
	color: $dark-color;
	font-family: $special-light;
	font-size: 3em;
	line-height: 1.1;
}

.secondary-marketing-message {
	color: $dark-color;
	font-family: $subhead-font;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.3em;
}

.string.email.required, .button.btn.custom-button {
	font-family: $special-light;
	// font-size: 3em; broken!
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.secondary-message {
	font-family: $special-light;
    font-size: 2.3em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.3em;
}

// Curators Section
.team-header {
	color: $dark-color;
	font-family: $special-light;
	font-size: 3em;
	line-height: 1.1;
	margin: 30px 0 50px;
}

.team-name {
	color: $name-color;
	font-family: $special-light;
	font-size: 2.0em;
	font-weight: lighter;
	line-height: 1.1;
}

.team-job {
	color: $name-color;
	font-family: $special-light;
	font-size: 1.1em;
	line-height: 1.1;
	letter-spacing: 0em;
	text-transform: uppercase;
}

.week-number {
	color: $bold-color;
	font-family: $special-light;
	font-size: 7em;
	font-weight: bold;
	line-height: 1.1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.lesson-week {
	color: rgba(236, 237, 238, 1.0000);
	font-family: $special-light;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 0.3em;
}

.lesson-main-headline {
	color: rgba(236, 237, 238, 1.0000);
	font-family: $special-light;
	font-weight: lighter;
	font-size: 3.1em;
	font-weight: bold;
	line-height: 1.1;
	color: #525252;
}

.lesson-plan-headline {
	color: $light-text;
	font-family: $special-light;
	font-weight: lighter;
	font-size: 3.1em;
	font-weight: bold;
	line-height: 1.1;
}

 
// Lesson Details Page
.lesson_block p, .lesson_summary p {
	font-family: $body-font;
	font-size: 1.3em;
	font-weight: lighter;
	letter-spacing: .1em;
}

.task {
	color: #333333;
	font-size: 1.5em;
}

.lesson_block {

	color: white;
	
	h1 {
		font-family: $special-heavy;
		font-size: 7em;
		font-weight: lighter;
	}

	h2 {
		font-family: $subhead-font;
		font-size: 3em;
		font-weight: lighter;
	}


}

.lesson_summary {

	h1 {
		font-family: $subhead-font;
		font-weight: lighter;
		text-transform: uppercase;
		color: #525252;
	}

	h2 {
		font-family: $special-light;
		font-weight: lighter;
	}

	p {
		color: #525252;
	}

	.curator_block 

	h3 {
		color: $name-color;
		font-family: $special-light, sans-serif;
		font-size: 2em;
		font-weight: lighter;
		text-transform: none;
	}

	h4 {
		font-family: 'Museo-300';
		font-size: 1.6em;
		letter-spacing: .2em;
		font-weight: lighter;
		color: $name-color;

	}
}

//popup modal specific

.main-modal-message {
	color: black;
	font-family: $special-light;
	font-size: 3em;
	font-weight: lighter;
	line-height: 1.1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.header-modal-message {
	color: $bold-color;
	font-family: $special-light;
	font-size: 4em;
	font-weight: lighter;
	line-height: 1.1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);	
}


// Footer
footer {
	color: rgba(0,0,0,.5);
	font-size: 1.1em;
}


// Font-face
@font-face {font-family: 'Museo-300';src: font-url('27D743_1_0.eot');src: font-url('27D743_1_0.eot?#iefix') format('embedded-opentype'),font-url('27D743_1_0.woff') format('woff'),font-url('27D743_1_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-500';src: font-url('27D743_2_0.eot');src: font-url('27D743_2_0.eot?#iefix') format('embedded-opentype'),font-url('27D743_2_0.woff') format('woff'),font-url('27D743_2_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-700';src: font-url('27D743_0_0.eot');src: font-url('27D743_0_0.eot?#iefix') format('embedded-opentype'),font-url('27D743_0_0.woff') format('woff'),font-url('27D743_0_0.ttf') format('truetype');}
@font-face {font-family: 'Substance-Medium-DEMO';src: url('webfonts/27E512_0_0.eot');src: url('webfonts/27E512_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/27E512_0_0.woff') format('woff'),url('webfonts/27E512_0_0.ttf') format('truetype');}


//
.lesson-headline {
	color: rgba(236, 237, 238, 1.0000);
	font-family: $special-light;
	font-size: 3.5em;
	font-weight: bold;
	line-height: 1.1;
}


