/* type-related style rules and licenses */

// Variables
	// Colors
	$bold-color: rgba(104, 192, 61, 1.0000); //green

// common elements
a {
	color: inherit;
	text-decoration: none;
}


// base type settings
html {
	font-size: 16px;
	font-style: Arial, sans-serif;
}

body {
    font-size: 62.5%; /* 1em = 10px */
	color: rgba(236, 237, 238, 1.0000);
}


.brand {
	font-family: 'Museo-500', sans-serif;
	font-size: .8em;
	font-weight: normal;
}

.main-message {
	color: $bold-color;
	font-family: 'Museo-300';
	font-size: 5em;
	font-weight: lighter;
	line-height: 1.1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

// Font-face BS
@font-face {font-family: 'Museo-700';src: font-url('27D743_0_0.eot');src: font-url('27D743_0_0.eot?#iefix') format('embedded-opentype'),font-url('27D743_0_0.woff') format('woff'),font-url('27D743_0_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-300';src: font-url('27D743_1_0.eot');src: font-url('27D743_1_0.eot?#iefix') format('embedded-opentype'),font-url('27D743_1_0.woff') format('woff'),font-url('27D743_1_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-500';src: font-url('27D743_2_0.eot');src: font-url('27D743_2_0.eot?#iefix') format('embedded-opentype'),font-url('27D743_2_0.woff') format('woff'),font-url('27D743_2_0.ttf') format('truetype');}