/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

/* common elements */


 /* Gradient Texture */
 .gradient_bg {
 		/* fallback */
 		background-color: #1d2030;

 		/* No Texture Fallback*/
 		/*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));*/
 		
 		/*background-image: url(images/radial_bg.png);
 		background-position: center center;
 		background-repeat: no-repeat;*/

 		/* Safari 4-5, Chrome 1-9 */
 		/* Can't specify a percentage size? Laaaaaame. */
 		/*background: url('/assets/light_toast_dark_trans.png'), -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));*/

 		/* Safari 5.1+, Chrome 10+ */
 		background: url('/assets/light_toast_dark_trans.png'), -webkit-radial-gradient(circle, #1a82f7, #1d2d45);

 		/* Firefox 3.6+ */
 		background: url('/assets/light_toast_dark_trans.png'), -moz-radial-gradient(circle, #1a82f7, #1d2d45);

 		/* IE 10 */
 		background: url('/assets/light_toast_dark_trans.png'), -ms-radial-gradient(circle, #1a82f7, #1d2d45);

 		background: url('/assets/light_toast_dark_trans.png'), radial-gradient(circle, #1a82f7, #1d2d45);
 }

 /* Universal Header Styles */
 header {
 	height: 100px;
 }