// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_lessonsDetail.scss";


//background for lesson overview padding-left

.lesson-overview-background {
    background: url("/assets/SIB001_texture_A.png") repeat scroll 0 0 transparent;
}

.inactive-link {
	color: gray;
}

.lesson-box {
	//border: 2px solid black;
}

.lesson-main-headline {
	padding-top: 10px;
}

.lesson-box .hr_shadow {
	margin-bottom: 20px;
}

//lesson overview boxes

.lesson-overview-block {
	background: #00AA55; /* Old browsers */
	border-top: 1px solid #4dc488;
	border-right: 1px solid #032615;
	border-bottom: 1px solid #032615;
	height: 114px;
	margin: 1px 0;
	width: 480px;

	&:first-child {
		margin-top: 10px;
	}

	h1 {
		float: left;
		padding: 40px;
		margin-top: 42px;
	}

	h2 {
		margin-bottom: 10px;
		padding-top: 10px;
		padding-left: 20px;
	}

	hr { //currently broken
		display: none;
		transform: rotate(90deg);
	}
}