/* Design with Love and never ending passion by Isaac, Emily, Marco and Sara */


.main-message-box {
	margin-bottom: 50px;
}

.main-message {
	font-size: 45px;
}

.my-size {
	width: 300px;
}

.sign-up-well {
	border: 1px none black;
	background: url('bg.png') repeat scroll 0 0 transparent; 
	margin-bottom: 50px;
	vertical-align: middle;
}

.hr {
    background-color: transparent;
    border: 1px solid #333333;
    height: 0;
    margin: 25px 0;
    width: 100%;
}

.team-background {
	background: url('bg.png') repeat scroll 0 0 transparent; 
	
}