/* Designed with Love and never ending passion by Isaac, Emily, Marco and Sara */

// mixins

// @mixin breakpoint($point) {
//   @if $point == pb {
//     @media (max-width: 1600px) { @content; }
//   }
//   @else if $point == mb {
//     @media (max-width: 1250px) { @content; }
//   }
//   @else if $point == bb {
//     @media (max-width: 650px)  { @content; }
//   }
// }

// imports

@import "_type.scss";
// @import "compass";

// layout and positioning
.logo {
	margin-top: 50px;
}

.no-style-link:hover {
	text-decoration: none;
	color: rgba(104, 192, 61, 1.0000);
}

.no-style-link-lesson:hover {
	text-decoration: none;
	color: black;
}

// hr styling including hacked together drop shadow
hr {
	border: 0;
    background: #0d152a;
    background-image: -webkit-linear-gradient(left, #23263c, #0d152a, #23263c); 
    background-image:    -moz-linear-gradient(left, #23263c, #0d152a, #23263c); 
    background-image:     -ms-linear-gradient(left, #23263c, #0d152a, #23263c); 
    background-image:      -o-linear-gradient(left, #23263c, #0d152a, #23263c);
    height: 1px;
    margin: 0;
}

.hr_shadow {
	border: 0;
    background: #333;
    background-image: -webkit-linear-gradient(left, #202227, #175a87, #202227); 
    background-image:    -moz-linear-gradient(left, #202227, #175a87, #202227); 
    background-image:     -ms-linear-gradient(left, #202227, #175a87, #202227); 
    background-image:      -o-linear-gradient(left, #202227, #175a87, #202227);
    height: 1px;
    margin: 0 0 0 0;
}


footer {
	margin-top: 90px;
	margin-bottom: 10px;
}