/* Designed with Love and never ending passion by Isaac, Emily, Marco and Sara */

// mixins

// @mixin breakpoint($point) {
//   @if $point == pb {
//     @media (max-width: 1600px) { @content; }
//   }
//   @else if $point == mb {
//     @media (max-width: 1250px) { @content; }
//   }
//   @else if $point == bb {
//     @media (max-width: 650px)  { @content; }
//   }
// }

// imports

@import "_type.scss";
// @import "compass";

// layout and positioning
.site_wrap {
    margin: 0 auto;
    max-width: 960px;
}

.no-style-link:hover {
	text-decoration: none;
	color: rgba(104, 192, 61, 1.0000);
}

// hr styling
.hr_main {
	border: 0;
    background: rgba(0,0,0,.5);
    height: .1em;
    margin: 0;
}

.hr_shadow {
	border: 0;
    background: rgba(255,255,255,.08);
    height: .1em;
    margin: 0;
}

footer {
	margin-top: 90px;
	margin-bottom: 10px;
}