// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.password.required {
	border: none;
	border-radius: 0;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	height: 55px;
	margin-right: 4px;
	padding: 0;
	text-align: center;
	width: 330px;
}

.button.btn.custom-button {
	border-radius: 0;
	height: 56px;
	padding: 0;
	text-align: center;
	width: 160px;
}