// Place all the styles related to the subscriber controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// list layout
nav, .organizers {

	ul {
		list-style: none;
	}

	li {
		display: inline;
	}
}

//misc layout
.main-message-box {
	margin-bottom: 50px;
}

.main-message {
	margin-left: -20px;
	margin-top: 80px;
	max-width: 650px;
}

// form layout
.sign-up-well {
	background: rgba(0,0,0,.4);
	border: 1px none black;
	height: 95px;
	margin-bottom: 50px;
	vertical-align: middle;
}



